<div class="container">
    <div class="card mt-4 mb-4">
        <div class="card-body">
  
            <form [formGroup]="generatedNumberForm"
                  (ngSubmit)="submit()">
                <div class="row">
                  <div class="row centered-btn">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="number"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="Generated Number"
                                   formControlName = "game_name">
                                <label for="floatingInput">Generated Number</label>
                                <span class="text-danger"
                                    *ngIf="(generatedNumberForm.hasError('required', 'game_name')) && generatedNumberForm.controls['game_name'].touched">
                                    * Please enter Generated Number
                                </span>
                        </div>
                    </div>

                  </div>
                  <div class="row centered-btn">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="number"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="Starting Number"
                                   formControlName = "starting_number">
                                <label for="floatingInput">Starting Number</label>
                                <span class="text-danger"
                                    *ngIf="(generatedNumberForm.hasError('required', 'starting_number')) && generatedNumberForm.controls['starting_number'].touched">
                                    * Please enter Starting Number
                                </span>
                        </div>
                    </div>
                  </div>

                  <div class="row centered-btn">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="number"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="Ending Number"
                                   formControlName = "ending_number">
                                <label for="floatingInput">Ending Number</label>
                                <span class="text-danger"
                                    *ngIf="(generatedNumberForm.hasError('required', 'ending_number')) && generatedNumberForm.controls['ending_number'].touched">
                                    * Please enter Ending Number
                                </span>
                        </div>
                    </div>
                  </div>


                  <div class="row centered-btn">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="floatingInput"
                                   placeholder="Remove Number"
                                   formControlName = "remove_number">
                                <label for="floatingInput">Remove Number</label>
                                <span class="text-danger"
                                    *ngIf="(generatedNumberForm.hasError('required', 'remove_number')) && generatedNumberForm.controls['remove_number'].touched">
                                    * Please enter Remove Number
                                </span>
                        </div>
                    </div>
                  </div>
                  
              
                  
                
              </div>
            </form>
  
            <hr>
  
            <div class="flexBtn">
                <button class="btn btn-success btn-class"
                        type="button"
                        (click)="submit()">Add</button>
            </div>
            <table *ngIf = "socketArry.length > 0">
                <tr *ngFor = "let number of socketArry">
                    <td>
                      {{number}}
                    </td>
                </tr>
            </table>
        </div>
    </div>

  </div>
  