<div class="container">
  <div class="card mt-4 mb-4">
      <div class="card-body">

          <form [formGroup]="registrationForm"
                (ngSubmit)="submit()">
              <div class="row">
                <p class="reg-text">Login</p>
                <div class="row centered-btn">
                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input
                           class="form-control"
                          id="floatingSelect"
                          aria-label="Floating label select example"
                          formControlName = "email"
                          placeholder="Email"
                          type="email" />
                          <label for="floatingSelect">Email</label>
                          <span class="text-danger"
                              *ngIf="(registrationForm.hasError('required', 'email')) && registrationForm.controls['email'].touched">
                              * Please enter your email
                          </span>
                      </div>
                  </div>
                </div>
                <div class="row centered-btn">
                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input type="password"
                                 class="form-control"
                                 id="floatingInput"
                                 placeholder="Password"
                                 formControlName = "password"  >
                          <label for="floatingInput">Password</label>
                          <span class="text-danger"
                          *ngIf="(registrationForm.hasError('required', 'password')) && registrationForm.controls['password'].touched">
                          * Please enter password
                      </span>
                      </div>
                  </div>
              </div>
            </div>
          </form>

          <hr>

          <div class="flexBtn">
              <button class="btn btn-success btn-class"
                      type="button"
                      (click)="submit()">Login</button>

          <button class="btn btn-success btn-class"
          type="button"
          style="margin-left: 2em;"
          routerLink = "/register">Go to Register</button>
          </div>

      </div>
  </div>

</div>
