.centered-btn{
  display: flex;
    justify-content: center;
}
.btn-class{
  width: 12%;
  padding: 10px
}
.reg-text{
  font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}
.flexBtn{
  display: flex;
  justify-content: center;
}
