<div class="container">
  <div class="card mt-4 mb-4">
      <div class="card-body">

          <form [formGroup]="registrationForm"
                (ngSubmit)="submit()">
              <div class="row">
                <p class="reg-text">Registration Form</p>
                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input type="text"
                                 class="form-control"
                                 id="floatingInput"
                                 placeholder="First Name"
                                 formControlName = "firt_name">
                              <label for="floatingInput">First Name</label>
                              <span class="text-danger"
                                  *ngIf="(registrationForm.hasError('required', 'firt_name')) && registrationForm.controls['firt_name'].touched">
                                  * Please enter your first name
                              </span>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input type="text"
                                 class="form-control"
                                 id="floatingInput"
                                 placeholder="Last Name"
                                 formControlName = "last_name" >
                          <label for="floatingInput">Last Name</label>
                          <span class="text-danger"
                          *ngIf="(registrationForm.hasError('required', 'last_name')) && registrationForm.controls['last_name'].touched">
                          * Please enter your last name
                      </span>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input
                           class="form-control"
                          id="floatingSelect"
                          aria-label="Floating label select example"
                          formControlName = "email"
                          placeholder="Email"
                          type="email" />
                          <label for="floatingSelect">Email</label>
                          <span class="text-danger"
                              *ngIf="(registrationForm.hasError('required', 'email')) && registrationForm.controls['email'].touched">
                              * Please enter your email
                          </span>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-floating mb-3">
                          <input type="password"
                                 class="form-control"
                                 id="floatingInput"
                                 placeholder="Password"
                                 formControlName = "password"  >
                          <label for="floatingInput">Password</label>
                          <span class="text-danger"
                          *ngIf="(registrationForm.hasError('required', 'password')) && registrationForm.controls['password'].touched">
                          * Please enter password
                      </span>
                      </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-floating mb-3">

                    <select id="floatingInput" class="form-control"  (click) = "selectRole($event)" >
                      <option value="" ></option>
                      <option  *ngFor="let role of roles" [value]="role['_id']" >{{role['name']}}</option>
                    </select>
                    <span class="text-danger"
                          *ngIf="(registrationForm.hasError('required', 'roleId')) && registrationForm.controls['roleId'].touched">
                          * Please select a role
                      </span>

                      <label for="floatingInput">Choose Role:</label>
                  </div>
                </div>
            </div>
          </form>

          <hr>

          <div class="flexBtn">
              <button class="btn btn-success btn-class"
                      type="button"
                      (click)="submit()">Register</button>



            <button class="btn btn-success btn-class"
                    type="button"
                    style="margin-left: 2em;"
                    routerLink = "/login">Go to Login</button>
        </div>

      </div>
  </div>

</div>
